<!-- app.component.html -->
<div class="app-container">
  <!-- Menú hamburguesa -->
  <header *ngIf="showMenu">
    <button class="menu-toggle" (click)="toggleMenu()">
      <span class="hamburger-icon"></span>
    </button>
  </header>

  <!-- Menú lateral -->
  <nav class="menu" *ngIf="showMenu" [class.open]="menuOpen">
    <ul>
      <li><a routerLink="/home" (click)="toggleMenu()">Home</a></li>
      <li *ngIf="countdownEnd"><a routerLink="/recuerdos" (click)="toggleMenu()">Recuerdos</a></li>
      <li *ngIf="countdownEnd"><a routerLink="/trivia" (click)="toggleMenu()">Trivia</a></li>
      <li *ngIf="countdownEnd && triviaCompleted"><a routerLink="/puzzle" (click)="toggleMenu()">Puzzle</a></li>
      <li *ngIf="countdownEnd && puzzleCompleted"><a routerLink="/carta" (click)="toggleMenu()">Carta</a></li>
    </ul>
  </nav>
  

  <!-- Contenido de los componentes -->
  <main [class.menu-open]="menuOpen && showMenu">
    <router-outlet></router-outlet>
  </main>
</div>
