<body>
  <div class="puzzle-container">
    <h2>🧩 Arma el Puzzle 🧩</h2>
    
    <div class="reference-image">
      <img [src]="imagenSrc" alt="Imagen de referencia" />
    </div>
  
    <div class="puzzle-grid">
      <div
        *ngFor="let valor of piezas; let i = index"
        class="puzzle-piece"
        [ngClass]="{'empty-piece': valor === 0}"
        [ngStyle]="{
          'background-image': obtenerBackgroundImage(valor),
          'background-position': calcularPosicion(valor)
        }"
        (click)="intercambiarPiezas(i)">
      </div>
    </div>
  
    <div class="popup" *ngIf="mostrarPopup">
      <div class="popup-content">
        <h2>🎉 ¡Felicidades Morshy! 🎉</h2>
        <p>Has completado el puzzle. Ahora solo cierra el popup que ya has desbloqueado la ultima opcion de esta minipagina jeje</p>
        <button (click)="cerrarPopup()" class="button">Cerrar</button>
      </div>
    </div>
  
    <button (click)="iniciarPuzzle()">🔄 Reiniciar Puzzle</button>
  </div>
</body>